@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
.Desktop_bj {
  background-color: #f4f4f4;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.mt12{
    margin-top: 12px;
}

.mt20{
    margin-top: 20px;
}

.ml10{
    margin-left: 10px;
}

.ml20{
    margin-left: 20px;
}
.search-bar {
  height: 55px;
  background-color: #ffffff;
}

#uploads_showmore_line {
    display: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}

ul, ol, li, dl, dt, dd{list-style:none;}

.table {
	border-collapse: collapse !important;
}
.table-bordered th,
.table-bordered td {
	border: 1px solid #ddd !important;
	height: 27px;
}
.table-bordered {
	border: 1px solid #eeeeee;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: 1px solid #eeeeee;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
	border-bottom-width: 2px;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.default,
.table > tbody > tr > td.default,
.table > tfoot > tr > td.default,
.table > thead > tr > th.default,
.table > tbody > tr > th.default,
.table > tfoot > tr > th.default,
.table > thead > tr.default > td,
.table > tbody > tr.default > td,
.table > tfoot > tr.default > td,
.table > thead > tr.default > th,
.table > tbody > tr.default > th,
.table > tfoot > tr.default > th {
  color: #777;
  border-color: #ddd;
  background-color: #f0f0f0;
}

/*==================================================
  Paginations
==================================================== */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 19px 0;
  border-radius: 1px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 5px 12px;
  line-height: 1.49;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #2363b6;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #4a89dc;
  border-color: #4a89dc;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 17px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#main_wrap #book_list_area {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#main_wrap #book_list_area .main_book_list {
    position: relative;
    height: 136px;
}

.product_space .arrow_left {
    width: 10.4px;
    height: 19px;
    margin-left: 14px;
    margin-top: 59px;
    margin-right: 9.6px;
    float: left;
    left: 15px;
    background-position: 0 0;
}

.product_space .arrow_right {
    width: 10.4px;
    height: 19px;
    margin-left: 9.6px;
    margin-top: 59px;
    float: left;
    right: 25px;
    background-position: -80px 0;
}

#main_wrap #book_list_area [class*="arrow_"] {
    position: absolute;
    width: 10.4px;
    height: 19px;
    z-index: 10;
}

#main_wrap #book_list_area .main_book_list .bg {
    display: block;
    position: absolute;
    top: 0;
    width: 156px;
    height: 99.8%;
    background-repeat: repeat-y;
    z-index: 3;
}

#main_wrap #book_list_area .main_book_list .bg.bg_left {
    left: 0;
    background-image: url(../images/bg_main_slider_l.png);
    z-index: 2;
}

#main_wrap #book_list_area .main_book_list {
    position: relative;
    height: 136px;
}

#main_wrap #book_list_area .main_book_list ul {
    position: absolute;
    top: 0;
    left: 5%;
    overflow: hidden;
    height: 126px;
    border-bottom: 1px solid #e0e0e0;
    white-space: nowrap;
    -webkit-padding-start: 0em;
}

#main_wrap #book_list_area .main_book_list li {
    display: inline-block;
    overflow: hidden;
    width: 370px;
    height: 100%;
    color: #111;
    line-height: 120%;
    vertical-align: middle;
}

#main_wrap #book_list_area .main_book_list .bg.bg_right {
    right: 0;
    background-image: url(../images/bg_main_slider_r.png);
}

#main_wrap #book_list_area .main_book_list li a {
    display: block;
    overflow: hidden;
    line-height: 1.7em;
    color: #111;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.search_input_outdiv {
	display: inline-block;
	margin-left: 39px;
	margin-top: 10px;
	border-radius: 3px;
	border: solid 1px #cbcbcb;
	float: left;
}
.search-box {
	width: 350px;
	height: 36px;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
	float: left;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #9b9b9b;
	padding-left: 10px;
}


.search_bar_mobile2 {
    width: 100%;
    height: 44px;
    background-color: #fbfbfb;
    text-align: left;
}

.search_bar_mobile2 .mobile_ic_search {
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    float: left;
}

.search_bar_mobile2 .mobile_search_input {
    width: 220px;
    height: 30px;
    
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    border: none;
    background-color: #fbfbfb;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    padding-left: 10px;
}

.search_bar_mobile2 .mobile_ic_delete {
    width: 17px;
    height: 17px;
    object-fit: contain;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 13px;
    float: right;
}

.search_bar_mobile2 .mobile_search_close {
    
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
    float: right;
    margin-top: 13px;
    margin-right: 10px;
    margin-left: 10px;
}

.bar {
    width: 1px;
    height: 24px;
    background-color: #d8d8d8;
    margin-top: 10px;
    display: inline-block;
    float: right;
}

.search_bar_mobile {
    width: 100%;
    height: 48px;
    background-color: #fbfbfb;
    float: left;
    text-align: left;
}

.search_bar_mobile .mobile_bj_name {
    display: inline-block;
    height: auto;
    margin-left: 5px;
    
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #5441b9;
}
.search_bar_mobile .mobile_ic_back{
    width: 8px;
    height: 14.7px;
    margin-top: 15px;
    margin-left: 10px;
}

.search_bar_mobile .mobile_ic_menu {
    width: 3px;
    height: 20px;
    margin-left: 8px;
}

.search_bar_mobile .mobile_ic_area {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.search-box .search-Videos-BJ-C {
  width: 235px;
  height: 19px;
  
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #9b9b9b;
}

.search-box .search-Videos-BJ-C .text-style {
  
}

.search-button {
	width: 40px;
	height: 36px;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
}

.ic_search {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.mobile_ic_search {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.logo {
  width: 112px;
  height: 25px;
  object-fit: contain;
  margin-top: 13px;
  float: left;
    margin-left: 24px;
    border: none;
}

.bj_header_space {
    width: 100%;
    height: 120px;
    background-color: #fbfbfb;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px 0 var(--black-5);
}

.bj_header_space .profile_main {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
}

.bj_header_space .beautuber {
    height: 33px;
    
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4a4a4a;
    margin-top: 29px;
}

.table_1 {
	display: inline-block;
}

.bj_header_space .middle_bar {
    width: 1px;
    height: 12px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
}

.bj_header_space .left_array {
    width: 121px;
    height: 100%;
    float: left;
}

.bj_header_space .right_array {
    height: 100%;
    float: left;
}

.bj_header_space .subscribed {
    height: 19px;
    
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #6a6a6a;
    float: left;
}

.big_view_space {
    width: 1260px;
    height: 429px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    margin: auto;
    margin-top: 10px;
    display: inline-block;
}

.big_view_space .video_space {
    width: 516px;
    height: 293px;
    display: inline-block;
    float: left;
}

.big_view_space .video_space iframe{
	width: 100%;
	height: 100%;
	border-width: 0px;
}

.big_view_space .video_information_area {
    width: 740px;
    height: 293px;
    background-color: #fbfbfb;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    margin: auto;
    float: left;
}

.video_information_area .title {
    height: auto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4a4a4a;
    margin-top: 20px;
    margin-left: 20px;
	-webkit-line-clamp: 1;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.video_information_area .sub_views{
    height: 19px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #6a6a6a;
    margin-left: 20px;
    margin-top: 4px;
    float: left;
}

.video_information_area .content {
    width: calc(100% - 40px);
    height: 152px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #4a4a4a;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    float: left;
}

.big_view_space .product_space {
    width: 100%;
    height: 136px;
    float: left;
}

.product_space .product_table {
    display: inline-block;
}

.product_space .product_table > li {
    width: 32%;
    float: left;
}

.product_space .arrow_left {
    width: 10.4px;
    height: 19px;
    margin-left: 14px;
    margin-top: 59px;
    margin-right: 9.6px;
    float: left;
}

.product_space .arrow_right {
    width: 10.4px;
    height: 19px;
    margin-left: 9.6px;
    margin-top: 59px;
    float: left;
}

.product_space .product_img {
    width: auto;
    max-height: 92px;
    border: none;
}

.product_space .product_name {
    width: 250px;
    height: auto;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: left;
    color: #5441b9;
    margin-right: 18px;
    margin-left: 10px;
	float: inherit;
	-webkit-line-clamp: 3;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.product_space .product_price {
    width: 60%;
    height: 20px;
    
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    text-align: left;
    color: #4a4a4a;
    margin-left: 10px;
    margin-top: 7px;
}
.video-list-area {
	width: 1580px;
	background-color: #fbfbfb;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
	margin: auto;
	margin-top: 20px;
	display: inline-block;
	text-align: left;
}

.video-list-area .table_1 {
	text-align: left;
	padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}

.video-list-area .inner_div {
	margin-left: 15px;
    margin-right: 15px;
    width: 31%;
	display: inline-block;
}

.video-list-area .inner_div > table {
	width: 100%;
}

.inner_div tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
	width: 237px;
}

.video-list-area .list-description {
	margin-left: 14px;
	width: 23%;
	float: left;
}

.video-list-area .video-line {
	width: 237px;
	height: auto;
	float: left;
}

.video-list-area .content-up {
	height: 19px;
	width: 90%;
	float: left;
}

.video-list-area .Headline-text {
	width: 97%;
	height: auto;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	float: left;
	-webkit-line-clamp: 1;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.inner_div tr:NTH-CHILD(1) > td:NTH-CHILD(2), .inner_div tr:NTH-CHILD(2) > td:NTH-CHILD(1)
, .inner_div tr:NTH-CHILD(3) > td:NTH-CHILD(1), .inner_div tr:NTH-CHILD(4) > td:NTH-CHILD(1) {
	padding-left: 10px;
}

.video-list-area .Headline-text2 {
	width: 196px;
	height: 52px;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	float: left;
}

.video-list-area .beautuber {
	height: 17px;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	float: left;
	margin-left: 4px;
}

.video-list-area .views {
	height: 19px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #9b9b9b;
	float: left;
}


.video-list-area .days-ago {
	height: 19px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #9b9b9b;
	float: left;
}

.video-list-area .content-text {
	width: 94%;
	height: 60px;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	float: inherit;
	-webkit-line-clamp: 3;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.video-list-area .inner_div_views_line {
	width: 206px;
	float:inherit;
	-webkit-line-clamp: 1;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.video-list-area .uploads_title {
    display: block;
    text-align: left;
    
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    margin-left: 55px;
    margin-top: 20px;
}

.video-list-area .uploads_title_number {
    color: #9b9b9b;
    display: inline-block;
}

.from {
  width: 33px;
  height: 19px;
  
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #9b9b9b;
  float: left;
}

.video-list-area .showmore {
  height: 40px;
  width: 100%;
  
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  line-height: 35px;
  color: #8c8c8c;
  float: left;
}

.video-list-area .showmore-line ,.search_bar_mobile .showmore-line {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  float: left;
  margin-top: 20px;
}

.footer {
  width: 100%;
  height: 66px;
  background-color: #4a4a4a;
  float: left;
  margin-top: 10px;
}

.footer .text-font {
  height: 17px;
  
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #d8d8d8;
  margin-top: 20px;
  margin-left: 30px;
  float: left;
}

.gwh-logo {
  
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: right;
  color: #9b9b9b;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}