.search_bar_mobile ,.video_information_area .content_right_mobile, .search_bar_mobile2
{
    display: none;
}

.Desktop_sub .content_line_mobile, .Desktop_sub .item_list_table_mobile, .Desktop_sub .mobile_arrow  {
	display: none;
}

.Desktop_Main .display_bottom .slide_div:NTH-CHILD(1) {
	margin-right: 40px;
}

.Desktop_Main .main_img_div_mobile {
	display: none;
}

@media all and (max-width:1617px){
    
    /* main*/
    .video-list-area {
        width: 1441px;
    }
	
    .video-list-area .table_1{
        margin-left: 10px;
        padding-left: 15px;
        padding-right: 15px; 
    }
    
    .video-list-area .inner_div{
        margin-left: 7px;
        width: 32%;
        margin-right: 0px;
    }
    
    .video-list-area .uploads_title {
        margin-left: 20px;
    }
    
    .video-list-area .video-line {
    	width: 220px;
    }
    
	.inner_div tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
    	width: 220px;
    }
}

@media all and (max-width:1480px){
    
    /* main*/
    .video-list-area {
        width: 1004px;
    }
    .video-list-area .table_1{
        margin-left: 20px;
        padding-left: 0px;
    }
    .video-list-area .inner_div {
        margin-left: 10px;
        width: 48%;
    }
    .video-list-area .uploads_title {
        margin-left: 43px;
    }
    
    /* sub */
    .Desktop_sub .video_information_area .list_description {
        width: 795px;
    }
    .Desktop_sub .video_information_area {
        width: 1255px;
    }
    .Desktop_sub .video_information_area .video_line {
    	width: 450px;
    }
    /* bj */
    .video-list-area .video-line {
        width: 200px;
    }
    
    .inner_div tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
    	width: 200px;
    }
    .video-list-area .content-text {
    	-webkit-line-clamp: 2;
    	height: 40px;
    }
}


@media all and (max-width:1290px){
        
    /* sub */
    .Desktop_sub .video_information_area .list_description {
        width: 691px;
    }
    
    /* bj */
    .Desktop_bj .big_view_space {
        width: 1160px;
        height: 414px;
    }
    .Desktop_bj .big_view_space .video_space {
        width: 496px;
        height: 279px;
    }
    .Desktop_bj .big_view_space .video_information_area {
        width: 660px;  
        height: 279px;      
    }
    /* subs */
    .Desktop_sub .video_information_area {
        width: 1155px;
    }
}

@media all and (max-width:1190px){
    
    /* main*/
    .video-list-area {
        width: 980px;
    }
    
    .video-list-area .table_1 {
	    margin-left: 5px;
	}
    
    /* sub */
    .Desktop_sub .video_information_area .list_description {
        width: 650px;
    }
    .Desktop_sub .video_information_area .video_line {
        width: 420px;
    }
    
    .Desktop_sub .video_line .recommended_table{
        margin-left: 7px;
    }
    
    .Desktop_sub .video_line .recommended_line{
        width: 95%;
    }
    
    /* bj */
    .Desktop_bj .big_view_space {
        width: 1050px;
        height: 387px;
    }
    .Desktop_bj .big_view_space .video_space {
	    width: 448px;
	    height: 252px;
	}
    .Desktop_bj .big_view_space .video_information_area {
        width: 600px;    
	    height: 252px;    
    }
    
    /* subs */
    .Desktop_sub .video_information_area {
        width: 1086px;
    }
}

@media all and (max-width:1115px){
    
    /* sub */
    .Desktop_sub .big_view_space .video_space {
        width: 800px;
        height: 450px;
    }
    .Desktop_sub .big_view_space {
        height: 450.5px;
    }
    .Desktop_sub .video_information_area .list_description {
        width: 570px;
    }
    .Desktop_sub .video_information_area .video_line {
        width: 400px;
    }
    .Desktop_sub .video_line .Headline {
        font-size: 14px;
    }
    .Desktop_sub .video_information_area .views {
        font-size: 13px;
    }
    
    .Desktop_sub .video_line .recommended_table{
        margin-left: 3px;
        margin-top: 5px;
    }
    .Desktop_sub .video_line .recommended_line{
        width: 95%;
    }
    
    /* bj */
    .Desktop_bj .bj_header_space {
        height: 100px;
    }
    .Desktop_bj .bj_header_space .profile_main {
        width: 60px;
        height: 60px;
        margin-top: 19px;
    }
    .Desktop_bj .bj_header_space .beautuber {
        font-size: 23px;
        margin-top: 20px;
    }
    .Desktop_bj .bj_header_space .subscribed {
        font-size: 13px;
    }
    .Desktop_bj .bj_header_space .left_array {
        width: 110px;
    }
    .Desktop_bj .big_view_space {
        width: 900px;
        height: 361px;
    }
    .Desktop_bj .big_view_space .video_space {
        width: 400px;
        height: 225px;
    }
    .Desktop_bj .big_view_space .video_information_area {
        width: 500px;
        height: 225px;
        overflow-y: scroll;
    }
    .Desktop_bj .video_information_area .content {
        height: auto;
    }
    .Desktop_bj .product_space .product_name {
        font-size: 14px;
    }
    /* subs */
    .Desktop_sub .video_information_area {
        width: 986px;
    }
}

@media all and (max-width: 1015px){
    
    /* main*/
    .video-list-area {
        width: 940px;
    }
    .video-list-area .table_1{
        margin-left: 10px;
        margin-top: 10px;
    }
    .video-list-area .inner_div{
        margin-left: 5px;
    }
    .video-list-area .uploads_title {
        margin-left: 20px;
    }
    
    /* subs */
    .Desktop_sub .video_information_area .list_description {
        width: 500px;
    }
    .Desktop_sub .video_information_area .video_line {
        width: 400px;
    }
    .Desktop_sub .video_line .Headline {
        font-size: 14px;
    }
    .Desktop_sub .video_information_area .views, .video_information_area .days-ago{
        font-size: 13px;
    }
    .Desktop_sub .video_information_area .video_subs {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 7px;
    }
    .Desktop_sub .video_line .title {
        font-size: 16px;
        margin-left: 13px;
    }
    .Desktop_sub .video_line .recommended_table{
        margin-left: 3px;
        margin-top: 5px;
    }
    .Desktop_sub .video_line .recommended_line{
        width: 95%;
    }
    .Desktop_sub .video_information_area {
        width: 916px;
    }
    .Desktop_sub .big_view_space .video_space {
        width: 704px;
        height: 396px;
    }
    .Desktop_sub .big_view_space {
        height: 396px;
    }
    
}

@media all and (max-width: 980px){
    
    /* main*/
    .video-list-area {
        width: 500px;
    }
    .Desktop_Main .display_bottom {
    	top: -50px;
    }
    
    .Desktop_Main .display_bottom .slide_div:NTH-CHILD(1) {
    	margin-right: 35px;
    }
    
    .Desktop_Main .display_bottom .slide_div {
    	min-width: 93px;
    	height: 26px;
    	font-size: 17px;
    }
    
    .table_1{
        margin-left: 20px;
        margin-top: 20px;
    }
    .video-list-area .inner_div {
        margin-left: 20px;
        width: 100%;
    }
    .video-list-area .uploads_title {
        margin-left: 33px;
    }
    .video-list-area .Headline-text {
    	width: 84%;
    }
    
    .video-list-area .content-text {
    	width: 84%;
    }
    
    /*bj*/
    #uploads_showmore_line {
        display: block;
        margin-top: 10px;
    }
    .Desktop_bj .uploads_title {
        margin-top: 10px;
    }
}

@media all and (max-width:940px){
    
    
    /* subs */
    .Desktop_sub .video_information_area .list_description {
        width: 450px;
    }
    .Desktop_sub .video_information_area .list_description .Headline_text {
        font-size: 20px;
    }
    .Desktop_sub .video_information_area .beautuber-img {
	    width: 37px;
	    height: 37px;
    }
    .Desktop_sub .video_information_area .facebook, .Desktop_sub .video_information_area .url {
        width: 25px;
        height: 25px;
    }
    .Desktop_sub .video_information_area .video_subs {
        margin-top: 7px;
        font-size: 13px;
    }
    .Desktop_sub .video_information_area .item_list_table {
        margin-top: -10px;
        margin-left: 10px;
        width: 95%;
    }
    .Desktop_sub .video_information_area .item_list_title, .Desktop_sub .video_information_area .list_size,  .Desktop_sub .item_list_table .product_price {
        font-size: 17px;
    }
    .Desktop_sub .item_list_table .product_img {
        width: auto;
        max-height: 85px;
    }
    .Desktop_sub .item_list_table .product_name {
        font-size: 13px;
        height: auto;
        -webkit-line-clamp: 3;
    }
    .Desktop_sub .item_list_table .product_starscore {
        width: 13px;
        height: 13px;
    }
    .Desktop_sub .item_list_table .product_score {
        font-size: 13px;
    }
    .Desktop_sub  .video_information_area .video_line {
        width: 400px;
    }
    .Desktop_sub  .video_line .Headline {
        font-size: 14px;
    }
    .Desktop_sub  .video_information_area .views {
        font-size: 13px;
    }
    .Desktop_sub  .video_line .recommended_table{
        margin-left: 3px;
        margin-top: 5px;
    }
    .Desktop_sub  .video_line .recommended_line{
        width: 95%;
    }
    .Desktop_sub .video_information_area {
        width: 860px;
    }
    
    .Desktop_sub .item_list_innertable tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
	    width: 85px;
	    height: 85px;
	}
    
    /* bj */
    .Desktop_bj .bj_header_space .profile_main {
        margin-left: 20px;
    }
    .Desktop_bj .bj_header_space .left_array {
        width: 100px;
    }
    .Desktop_bj .big_view_space {
        width: 770px;
        height: 305px;
    }
    .Desktop_bj .big_view_space .video_space {
        width: 336px;
        height: 189px;
    }
    .Desktop_bj .big_view_space .product_space {
        height: 116px;
    }
    .Desktop_bj .big_view_space .video_information_area {
        width: 434px;
        height: 189px;
    }
    .Desktop_bj .video_information_area .content {
        width: calc(100% - 20px);
        height: auto;
        margin: 10px;
    }
    .Desktop_bj .video_information_area .title {
        margin-left: 10px;
        margin-top: 5px;
    }
    .Desktop_bj .video_information_area .sub_views {
        margin-left: 10px;
    }
    .Desktop_bj .product_space .product_img {
        max-height: 85px;
    }
    .Desktop_bj .product_space .product_name {
        font-size: 13px;
    }
    .Desktop_bj .product_space .product_price {
        font-size: 16px;
        margin-left: 5px;
    }
    .Desktop_bj .product_space .arrow_left {
        left: 5px;
        margin-top: 50px;
    }
    .Desktop_bj .product_space .arrow_right {
        margin-top: 50px;
    }
    #main_wrap #book_list_area .main_book_list li {
        width: 350px;
    }
    .Desktop_bj .video-list-area {
        margin-top: 10px;
    }
    
}

@media all and (max-width:922px) {
	
}

@media all and (max-width:900px){
    
    /* main*/
	.Desktop_Main .header_wrap .search-box,.Desktop_bj .header_wrap .search-box,.Desktop_sub .header_wrap .search-box {
		width:300px;
	}
    
    .Desktop_Main .main-big-view .video-space {
        width: 780px;
        height: 437px;
    }
    
    .Desktop_Main .main-big-view {
        width: 780px;
        height: 550px;
    }
    
    
    /* subs */
    .Desktop_sub .video_information_area {
        width: 780px;
    }
    
    .Desktop_sub .video_information_area .list_description {
        width: 400px;
    }
    
    .DeskoDesktop_subp_sub .video_information_area .video_subs {
        width: 380px;
    }
    .Desktop_sub .video_information_area .list_description .Headline_text {
        font-size: 20px;
        margin-left: 10px;
    }
    .Desktop_sub .video_information_area .video_line {
        width: 370px;
    }
    .Desktop_sub .video_line .video_img {
        width: 115px;
    }
    .Desktop_sub .video_line .Headline, .video_line .beautuber {
        font-size: 13px;
    }
    .Desktop_sub .video_information_area .views{
        font-size: 13px;
    }
    .Desktop_sub .video_information_area .days-ago {
        font-size: 13px;
        margin-left: 5px;
    }
    
    .Desktop_sub .video_line .recommended_line{
        width: 100%;
    }
    
    .Desktop_sub .item_list_div .amazon_logo {
    	margin-left: 9px;
    }
    .Desktop_sub .item_list_div .item_select_div {
    	margin-right: 15px;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    	width: 90px;
    }
}

@media all and (max-width:850px){
    
    /* main*/
    
     .Desktop_Main .main-big-view .video-space {
        width: 730px;
        height: 410px;
    }
    
     .Desktop_Main .main-big-view {
        width: 730px;
        height: 525px;
    }
    
    /* sub*/
    .Deskop_sub .big_view_space .video_space {
        width: 656px;
        height: 369px;
    }
    
    .Deskop_sub .big_view_space {
        height: 369px;
    }
    
    
}

@media all and (max-width:816px){
    .Desktop_sub .list_description .subs_div, .Desktop_sub .list_description .comment_div, .Desktop_sub .list_description .item_list_div {
        display: inline-block;
    }
    
    .Desktop_Main .main-big-view .Headline-text {
    	margin-top: 5px;
    }
    
}

@media all and (max-width:806px){
    /* main*/
    .Desktop_Main .header_wrap .MakeUp-Category-box button {
        margin-left: 10px;
    }
    .Desktop_Main .main-big-view .video-space {
        width: 700px;
        height: 393px; 
       
    }
    
    .Desktop_Main .main-big-view {
        width: 700px;
        height: 500px;
    }
    
    /* bj */
    .Desktop_bj .big_view_space {
        width: 700px;
        height: 296px;
    }
    .Desktop_bj .bj_header_space {
        height: 80px;
    }
    .Desktop_bj .bj_header_space .profile_main {
        margin-left: 10px;
        margin-top: 14px;
        width: 50px;
        height: 50px;
    }
    .Desktop_bj .bj_header_space .beautuber {
        font-size: 20px;
        margin-top: 14px;
        height: auto;
    }
    .Desktop_bj .bj_header_space .subscribed {
        font-size: 12px;
    }
    .Desktop_bj .bj_header_space .left_array {
        width: 70px;
    }
    .Desktop_bj .big_view_space .video_space {
		width: 320px;
		height: 180px;
    }
	.Desktop_bj .big_view_space .video_information_area {
        width: 380px;
        height: 180px;
    }
    .Desktop_bj .video_information_area .content {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

@media all and (max-width:795px){
    /* subs */
    
    .Desktop_sub .video_information_area .content-space {
        margin-left: 10px;
        margin-bottom: 0px;
        width: 96%;
    }
    .Desktop_sub .video_information_area .content-right {
        display: none;
    }
    .Desktop_sub .video_information_area .content_right_mobile {
        display: block;
        margin-bottom: 5px;
    }
    .Desktop_sub .video_information_area .facebook ,.Desktop_sub .video_information_area .url {
        float: left;
        margin-top: 5px;
        margin-left: 10px;
    }
    .Desktop_sub .list_description .subs_div, .Desktop_sub .list_description .comment_div {
        display: none;
        margin-top: 0px;
    }
    .Desktop_sub .video_information_area .list_description {
        width: 370px;
    }
    .Desktop_sub .video_information_area {
        width: 756px;
    }
    .Desktop_sub .big_view_space {
	    height: auto;
	}
    .Desktop_sub .big_view_space .video_space {
        width: 100%;
        margin: 0;
        padding-bottom: 56.25%; 
        max-width: 100%; 
        height: 0;  
        position: relative;
        overflow: hidden;
    }
    .Desktop_sub .big_view_space .video_space iframe{
    	margin: 0;
    	padding: 0;
    	position: absolute;
    	top: 0;
    	left: 0; 
    }
    .Desktop_sub .inner_table{
    	width: 100%;
    }
    .Desktop_sub .video_information_area {
        width: 100%;
    }
    .Desktop_sub .video_information_area .list_description {
        width: 100%;
        margin-top: 0px;
    }
    .Desktop_sub .video_information_area .video_line  {
        width: 100%;
        margin-left: 0px;
    }
    .Desktop_sub .video_line .video_img {
        width: 224px;
    }
    .Desktop_sub .video_line .Headline{
        font-size: 22px;
        margin-left: 10px;
        width: 95%;
    }
    .Desktop_sub .video_line .content_line {
    	margin-left: 5px;
    }
    .Desktop_sub .video_line .views {
    	font-size: 18px;
    	width: 100%;
    }
    .Desktop_sub .video_line .beautuber,
    .Desktop_sub .video_line .from{
        font-size: 18px;
        width: auto;
    }
    .Desktop_sub .video_information_area .list_description .Headline_text {
	    font-size: 23px;
	    margin-left: 20px;
	}
	.Desktop_sub .video_information_area .facebook{
	    margin-left: 20px;
	}
	.Desktop_sub .video_information_area .beautuber-img {
	    width: 40px;
	    height: 40px;
	    margin-left: 10px;
	}
	.Desktop_sub .video_information_area .facebook,.Desktop_sub .video_information_area .url {
	    width: 26px;
	    height: 26px;
	}
    .Desktop_sub .item_list_table .product_price {
	    font-size: 18px;
	}
	.Desktop_sub .item_list_table .product_name {
		font-size: 18px;
	}
	.Desktop_sub .video_information_area .content_right_mobile {
		height: 78px;
	}
	.Desktop_sub .video_information_area .content_right_mobile .menu_list_div, 
	.Desktop_sub .video_information_area .content_right_mobile .menu_list_div .menu_1,
	.Desktop_sub .video_information_area .content_right_mobile .menu_list_div .menu_2,
	.Desktop_sub .video_information_area .content_right_mobile .menu_list_div .menu_3{
		height: 40px; 
		font-size: 16px;
	}
    .Desktop_sub .video_line .title{
        font-size: 20px;
    }
    .Desktop_sub .video_information_area .video_subs {
	    font-size: 16px;
	}
	
	.Desktop_sub .inner_table tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
	    width: 224px;
	}
	/* item_list 바꿔주기 */
	.Desktop_sub .content_line_web, .Desktop_sub .item_list_table {
		display: none;
	}
	.Desktop_sub .content_line_mobile {
		display: inline-block;
	}
	.Desktop_sub .item_list_table_mobile {
		display: table;
		width: 100%;
		margin-top: 7px;
	}
	.Desktop_sub .content_line_mobile .caret {
		height: auto;
		position: inherit;
		border: none;
	}
	.Desktop_sub .content_line_mobile .mobile_arrow {
		display: inline-block;
	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: 50%;
		margin-left: 0px;
	}
	.btn {
		padding: 9px 20px;
		border-radius: 0px;
		font-size: 15px;
	}
	.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
		float: left;
		display: inline-block;
		margin-left: 0px;
	}
	
	
	
}

@media all and (max-width:740px){
    
    /* main*/
    .Desktop_Main .main-big-view .video-space {
        width: 650px;
        height: 365px;
    }
    
    
    .Desktop_Main .main-big-view {
        width: 650px;
        height: 465px;
    }
    .Desktop_Main .header_wrap .MakeUp-Category-box button {
        margin-left: 5px;
    }
    .Desktop_Main .main-big-view .showmore-box .text-font{
        font-size: 14px;
    }
    .Desktop_Main .header_wrap .MakeUp-Category-box .depth02 {
        margin-left: 10px;
    }
    
    .Desktop_Main .main-big-view .showmore-box {
    	width: 123px;
    }
    
    .Desktop_Main .display_bottom {
    	top: -44px;
    }
    
    .Desktop_Main .display_bottom .slide_div:NTH-CHILD(1) {
    	margin-right: 20px;
    }
    
    .Desktop_Main .display_bottom .slide_div {
    	height: 23px;
    	font-size: 15px;
    }
    
    /* common */
    .footer .text-font {
        margin-left: 15px;
    }

    /* bj */
    .Desktop_bj .big_view_space {
    	width: 100%;
        height: auto;
    }
    .Desktop_bj .big_view_space .video_space {
        width: 100%;
        margin: 0;
        padding-bottom: 56.25%; 
        max-width: 100%; 
        height: 0;  
        position: relative;
        overflow: hidden;
    }
    .Desktop_bj .big_view_space .video_space iframe{
    	margin: 0;
    	padding: 0;
    	position: absolute;
    	top: 0;
    	left: 0; 
    }
    .Desktop_bj .big_view_space .product_space {
        display: none;
    }
    .Desktop_bj .big_view_space .video_information_area {
        width: 100%;
        height: 80px;
        overflow: hidden;
    }
    .Desktop_bj .video_information_area .title {
        margin-top: 12px;
    }
    .Desktop_bj .video_information_area .content {
        display: none;
    }
    
}

@media all and (max-width:630px){
	/* main */
	.Desktop_Main .display_bottom {
    	height: 29px;
    	top: -45px;
    }
    
    .Desktop_Main .display_bottom .slide_div:NTH-CHILD(1) {
    	margin-right: 15px;
    }
    
    .Desktop_Main .display_bottom .slide_div {
    	min-width: 75px;
    	height: 23px;
    	font-size: 13px;
    }
}

@media all and (max-width:692px){
    
    /* main*/
    .Desktop_Main .header_wrap .scroll_div {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .Desktop_Main .header_wrap .MakeUp-Category-box {
        overflow: hidden;
    }
    .Desktop_Main .MakeUp-Category-box .depth02  {
        width: 500px;
    }
    
    .Desktop_Main .main-big-view .showmore-box {
        display: none;
    }
    .Desktop_Main .main-big-view .content-up,
    .Desktop_Main .main-big-view .content-space {
	    width: 80%;
	}
    .Desktop_Main .main-big-view .video-space {
        width: 500px;
        height: 281px;
    }
    
    .Desktop_Main .main-big-view {
        width: 500px;
        height: 380px;
    }

}

@media all and (max-width:464px){
    
    /* common*/
    .footer .text-font {
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .footer .gwh-logo {
        margin-top: 10px;
        float: left;
        margin-left: 15px;
        margin-right: 0px;
    }
    
}


@media all and (max-width: 560px){
    
    /* main*/
    .video-list-area {
        width: 100%;
    }
    .video-list-area .Headline-text {
        width: 96%;
    }
    .video-list-area .from {
        width: auto;
    }
    .video-list-area .days-ago {
        display: none;
    }
    .video-list-area .content-text {
        width: 96%;
        padding-right: 10px;
    }
    .video-list-area .table_1 {
	    padding-right: 10px;
	}
    
    .inner_div > table {
        border-spacing: 1px;
        width: 100%;
    }
    
    .search_input_outdiv {
        margin-left: 15px;
    }
    .Desktop_Main .main-big-view .content-space {
        margin-top: 5px;
        margin-left: 10px;
    }
    .Desktop_Main .main-big-view .video-space {
        width: 400px;
        height: 225px;
    }
    .Desktop_Main .main-big-view {
        width: 400px;
        height: 310px;
    }
    .Desktop_Main .main-big-view .Headline-text {
        font-size: 20px;
        margin-left: 13px;
    }
    .Desktop_Main .main-big-view .views {
        font-size: 12px;
    }
    .Desktop_Main .main-big-view .days-ago {
        font-size: 12px;
        margin-left: 0px;
    }
    .Desktop_Main .main-big-view .beautuber-img {
        width: 35px;
        height: 35px;
    }
    .video-list-area .inner_div{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        margin-top: 5px;
    }
    .video-list-area .uploads_title {
        margin-left: 13px;
        font-size: 16px;
        margin-top: 10px;
    }
    .video-list-area .mt20 {
        margin-top: 5px;
        padding-right: 0px;
        margin-left: 0px;
    }
    
    /* common */
    .logo {
        margin-left: 10px;
    }
    
    
}

@media all and (max-width: 530px){
	/* subs */
	.Desktop_sub .video_information_area .list_description .Headline_text {
	    font-size: 21px;
	    margin-left: 15px;
	    margin-top: 7px;
	}
	.Desktop_sub .video_information_area .content-space {
	    margin-top: 5px;
	}
	.Desktop_sub .video_information_area .beautuber-img {
	    width: 37px;
	    height: 37px;
	    margin-left: 5px;
	}
	.Desktop_sub .video_information_area .content_right_mobile {
	    height: 68px;
	}
	.Desktop_sub .video_information_area .facebook, .Desktop_sub .video_information_area .url {
	    width: 25px;
	    height: 25px;
	}
	.Desktop_sub .video_information_area .content_right_mobile .menu_list_div,
	.Desktop_sub .video_information_area .content_right_mobile .menu_list_div .menu_1,
	.Desktop_sub .video_information_area .content_right_mobile .menu_list_div .menu_2,
	.Desktop_sub .video_information_area .content_right_mobile .menu_list_div .menu_3 {
	    height: 35px;
	    font-size: 14px;
	}
	.Desktop_sub .item_list_table .product_name {
	    font-size: 15px;
	}
	.Desktop_sub .video_information_area .video_subs {
	    font-size: 15px;
	}
	.Desktop_sub .video_line .video_img {
	    width: 208px;
	}
	.Desktop_sub .inner_table tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
	    width: 208px;
	}
	.Desktop_sub .video_line .Headline {
	    font-size: 20px;
	}
	.Desktop_sub .video_line .views, .Desktop_sub .video_line .beautuber, .Desktop_sub .video_line .from {
	    font-size: 15px;
	}
	
}

@media all and (max-width: 520px){
    /* main */
    .Desktop_Main .header_wrap .search-box,.Desktop_bj .header_wrap .search-box,.Desktop_sub .header_wrap .search-box {
        width: 250px;
    }
}

@media all and (max-width: 480px){
	.Desktop_sub .video_line .title {
	    font-size: 18px;
	}
	.Desktop_sub .video_line .video_img {
	    width: 176px;
	}
	.Desktop_sub .inner_table tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
	    width: 176px;
	}
	.Desktop_sub .video_line .Headline {
	    font-size: 18px;
	}
	.Desktop_sub .video_line .views, .Desktop_sub .video_line .beautuber, .Desktop_sub .video_line .from {
	    font-size: 13px;
	}
}

@media all and (max-width: 470px){
    /* main */
    .Desktop_Main .header_wrap .search-box,.Desktop_bj .header_wrap .search-box,.Desktop_sub .header_wrap .search-box {
        width: 200px;
    }
}

@media all and (max-width: 450px){
	
	.video-list-area .video-line {
        width: 200px;
    }
    
    .inner_div tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
    	width: 200px;
    }
}

@media all and (max-width: 430px){
    /* common */
    .container .search-bar {
        display: none;
    }
    .search_bar_mobile {
        display: block;
    }
    
    /* main */
    .Desktop_Main .main-big-view .content-space {
        margin-top: 2px;
        margin-left: 10px;
        width: 80%;
    }
    .Desktop_Main .main-big-view .video-space {
        width: 100%;
        margin: 0;
        max-width: 100%; 
        height: auto;
        position: relative;
        overflow: hidden;
    }
    
    .Desktop_Main .main-big-view .video-space iframe{
    	margin: 0;
    	padding: 0;
    	position: absolute;
    	top: 0;
    	left: 0; 
    }
    
    .Desktop_Main .main-big-view {
       width: 100%;
		height: 315px;
    }
    .Desktop_Main .main-big-view .Headline-text {
        margin-left: 10px;
    }
    .Desktop_Main .main-big-view .views {
        font-size: 12px;
    }
    .Desktop_Main .main-big-view .days-ago {
        width: auto;
        font-size: 12px;
        margin-left: 0px;
    }
    .Desktop_Main .main-big-view .beautuber-img {
        width: 35px;
        height: 35px;
    }
    
    /* thumbnail mobile change */
    .Desktop_Main .main_img_div_mobile {
		display: inline-block;
	}
	
	.Desktop_Main .main_img_div, .Desktop_Main .display_bottom {
		display: none;
	}
	    
    
    .video-list-area .Headline-text {
        font-size: 15px;
    }
    .video-list-area .from ,.video-list-area .beautuber {
        font-size: 13px;
    }
    
    .video-list-area .content-text {
        font-size: 13px;
    	height: 33px;
    }
    
    .inner_div > table {
        border-spacing: 1px;
    }
    
    /* sub */
    .Desktop_sub .item_list_table .product_name {
	    font-size: 14px;
	}
	.Desktop_sub .video_information_area .video_subs {
	    font-size: 14px;
	}
	
    /*bj*/
    .Desktop_bj .bj_header_space .profile_main {
        margin-left: 5px;
    }
    .Desktop_bj .bj_header_space .left_array {
        width: 60px;
    }
    .Desktop_bj .bj_header_space .beautuber {
        font-size: 18px;
        margin-top: 16px;
        height: auto;
    }
    .Desktop_bj .bj_header_space .subscribed {
        font-size: 11px;
    }
    .search_bar_mobile .showmore-line {
        margin-top: 10px;
    }
    
}

@media all and (max-width:428px){
    .Desktop_Main .main-big-view {
    	height: 300px;
    }
    
    /* subs */
    .Desktop_sub .video_line .Headline {
	    font-size: 16px;
	}
	.Desktop_sub .video_line .video_img {
	    width: 160px;
	}
	.Desktop_sub .inner_table tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
	    width: 160px;
	}
	.Desktop_sub .video_line .title {
	    font-size: 17px;
	    margin-top: 8px;
	}
    
}

@media all and (max-width:394px){
    .search_bar_mobile2 .mobile_search_input {
        width: 170px;
    }
    
    .Desktop_Main .main-big-view {
    	height: 285px;
    }
    
	.Desktop_sub .video_line .views {
		width: 90%;
    	margin-left: 5px;
	}
	
}

@media all and (max-width:373px){
	
	.video-list-area .video-line {
	    width: 180px;
	}
	
	.inner_div tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
    	width: 180px;
    }
    
    .video-list-area .from, .video-list-area .beautuber {
	    font-size: 12px;
	}
}

@media all and (max-width:361px){
    /* main */
    .Desktop_Main .main-big-view {
    	height: 270px;
    }
}

@media all and (max-width: 355px){
    /*main*/
    .video-list-area {
        margin-top: 10px;
    }
    .video-list-area .video-line {
        width: 155px;
    }
    
    .inner_div tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
    	width: 155px;
    }
    .Desktop_Main .main-big-view .content-up {
        width: 82%;
    }
    .video-list-area .mt20 {
        margin-left: 4px;
    }
    
    /* footer */
    .footer .text-font , .footer .gwh-logo{
        font-size: 12px;
    }
}

@media all and (max-width:342px){
    .search_bar_mobile2 .mobile_search_input {
        width: 130px;
    }
    
    /* main */
    .Desktop_Main .main-big-view {
    	height: 260px;
    }
    .Desktop_sub .video_line .video_img {
	    width: 150px;
	}
	.Desktop_sub .inner_table tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
	    width: 150px;
	}
	.Desktop_sub .video_line .Headline {
	    margin-left: 3px;
	}
	.Desktop_sub .video_line .content_line {
	    margin-left: 0px;
	}
	.Desktop_sub .video_information_area .video_subs {
	    font-size: 12px;
	}
	.Desktop_sub .item_list_table .product_name {
	    font-size: 13px;
	}
}

