@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
.Desktop_Main {
	background-color: #f4f4f4;
	text-align: center;
	width: 100%;
	display: inline-block;
}

.mt12 {
	margin-top: 12px;
}

.mt20 {
	margin-top: 20px;
}

.ml10 {
	margin-left: 10px;
}

.ml20 {
	margin-left: 20px;
}

.ml0 {
	margin-left: 0px;
}

.search-bar {
	height: 55px;
	background-color: #ffffff;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}

ul, ol, li, dl, dt, dd {
	list-style: none;
}

p, form, h1, h2, h3, h4, h5, h6, fieldset, legend {
	margin: 0;
	padding: 0;
}

.middle_bar {
    width: 1px;
    height: 12px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
    display: inline-block;
}

.container ul.depth02>li {
	float: left;
	margin-left: -1px;
	text-align: center;
}

.search_input_outdiv {
	display: inline-block;
	margin-left: 39px;
	margin-top: 10px;
	border-radius: 3px;
	border: solid 1px #cbcbcb;
	float: left;
}
.search-box {
	width: 350px;
	height: 36px;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
	float: left;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #9b9b9b;
	padding-left: 10px;
}

.search_bar_mobile {
	width: 100%;
	height: 48px;
	background-color: #fbfbfb;
	float: left;
}

.search_bar_mobile2 {
	width: 100%;
	height: 44px;
	background-color: #fbfbfb;
	text-align: left;
}

.search_bar_mobile2 .mobile_ic_search {
	width: 22px;
	height: 22px;
	object-fit: contain;
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
	float: left;
}

.search_bar_mobile2 .mobile_search_input {
	width: 220px;
	height: 30px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #4a4a4a;
	border: none;
	background-color: #fbfbfb;
	float: left;
	margin-left: 10px;
	margin-top: 7px;
	padding-left: 10px;
}

.search_bar_mobile2 .mobile_ic_delete {
	width: 17px;
	height: 17px;
	object-fit: contain;
	display: inline-block;
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 13px;
	float: right;
}

.search_bar_mobile2 .mobile_search_close {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #9b9b9b;
	float: right;
	margin-top: 13px;
	margin-right: 10px;
	margin-left: 10px;
}

.bar {
	width: 1px;
	height: 24px;
	background-color: #d8d8d8;
	margin-top: 10px;
	display: inline-block;
	float: right;
}

.search_bar_mobile .mobile_ic_menu {
	width: 3px;
	height: 20px;
	margin-left: 8px;
}

.search_bar_mobile .mobile_ic_area {
	width: 20px;
	height: 20px;
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}

.search-box .search-Videos-BJ-C {
	width: 235px;
	height: 19px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #9b9b9b;
}

.main_no_result {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.main_no_result .no_result_text {
	width: 98%;
	height: 65px;
	background-color: #fbfbfb;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
	margin: 10 auto;
	font-size: 14px;
	text-align: left;
	color: #6a6a6a;
	display: inline-block;
}

.main_no_result .no_result_text .text_left {
	display: inline-block;
	margin: 22px 0px 0px 20px;
}

.main_no_result .no_result_text .text_right {
	display: inline-block;
	float: right;
	margin: 22px 20px 0px 0px;
}

.main_no_result .text-area{
	font-size: 16px;
	color: #a3a3a3;
	width: 100%;
	height: 30px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    top: 30%;
}

.search-button {
	width: 40px;
	height: 36px;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
}

.search-bar .ic_search {
	width: 20px;
	height: 20px;
	object-fit: contain;
}

.search-bar .mobile_ic_search {
	width: 22px;
	height: 22px;
	object-fit: contain;
	float: left;
}

.logo {
	width: 112px;
	height: 25px;
	object-fit: contain;
	margin-top: 13px;
	float: left;
	margin-left: 24px;
	border: none;
}

.main_img_div {
	margin: 0 auto;
	position: relative;
	height: 450px;
	background-color: #1c163d;
}

.mySlides {
	display:none
}

.display_bottom {
	height: 31px;
	position: relative;
	top: -57px;
}

.display_bottom .slide_div {
	min-width: 110px;
	height: 31px;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	border-bottom-style: solid;
	display: inline-block;
	cursor: pointer;
	opacity: 0.4;
}

.mobile_display_bottom .mobile_slide_div {
	opacity: 0.4;
	background-color: #ffffff;
	height: 6px;
	border-radius: 3.5px;
	display: inline-block;
}

.display_bottom .main_selected, .mobile_display_bottom .main_selected {
	opacity: 1;
}

.jssorb05 {
    position: relative;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    opacity: 0.4;
	background-color: #ffffff;
	height: 6px;
	border-radius: 3.5px;
    cursor: pointer;
}
.jssorb05 div:hover, .jssorb05 .av:hover {opacity: 1;}
.jssorb05 .av {opacity: 1;}
.jssorb05 .dn, .jssorb05 .dn:hover {opacity: 1;}

.mobile_display_bottom {
	position: relative;
	top: -150;
}

.main_img_div_mobile .head_bg {
	width: 100%;
	height: 100%;
}

.main_img_div_mobile .head_text {
	position: relative;
	display: inline-block;
}

.MakeUp-Category-box {
	height: 55px;
	width: 100%;
	background-color: #fbfbfb;
	margin-top: 0px;
	text-align: left;
	display: inline-block;
}

.container ul.depth02 {
	display: inline-block;
	-webkit-padding-start: 2px;
	margin-left: 30px;
}

.MakeUp-Category-box .scroll_div {
	height: 70px;
}

.Makeup_category_line {
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	float: left;
}

.MakeUp-Category-box button {
	margin-left: 15px;
}

.MakeUp-Category-General {
	height: 29px;
	border-radius: 30px;
	background-color: #ffffff;
	border: solid 1px #e8e8e8;
}

.MakeUp-Category-Selected {
	height: 29px;
	border-radius: 30px;
	background-color: #7e69ee;
	border: solid 1px #7e69ee;
}

.MakeUp-Category-General .text-font {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #4a4a4a;
}

.MakeUp-Category-Selected .text-font {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #ffffff;
}

.main-big-view .video-space {
	width: 806px;
	height: 453px;
	border-width: 0px;
}

.main-big-view .video-space iframe{
	width: 100%;
	height: 100%;
	border-width: 0px;
}

.main-big-view {
	width: 806px;
	height: 574px;
	background-color: #fbfbfb;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
	margin: auto;
	margin-top: 20px;
	display: inline-block;
}

.main-big-view .Headline-text {
	width: 98%;
	height: auto;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	margin-left: 18px;
	margin-top: 14px;
}

.main-big-view .Headline-text a{
	-webkit-line-clamp: 1;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.main-big-view .content-space {
	height: 40px;
	width: 70%;
	margin-left: 18px;
	margin-top: 10px;
	float: left;
}

.main-big-view .content-up {
	height: 19px;
	width: 70%;
	float: left;
}

.main-big-view .content-right {
	width: 16%;
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}

.main-big-view .beautuber {
	width: 70%;
	height: 19px;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	float: left;
	margin-left: 4px;
}

.main-big-view .views {
	height: 19px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #6a6a6a;
	float: left;
	margin-left: 12px;
}

.main-big-view .days-ago {
	height: 19px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #6a6a6a;
	float: left;
}

.main-big-view .beautuber-img {
	width: 40px;
	height: 40px;
	float: left;
}

.main-big-view .showmore-box {
	width: 128px;
	height: 36px;
	border-radius: 3px;
	background-color: #4a4a4a;
	border: none;
}

.main-big-view .showmore-box .text-font {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #ffffff;
	height: 100%;
	line-height: 34px;
	margin-left: 5px;
	margin-right: 5px;
}

.Disclosure-Indicator {
	width: 6px;
	height: 11px;
	object-fit: contain;
}

.video-list-area {
	width: 1580px;
	background-color: #fbfbfb;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
	margin: auto;
	margin-top: 20px;
	display: inline-block;
}

.video-list-area .table_1 {
	text-align: left;
	padding-left: 25px;
    padding-right: 25px;
}

.video-list-area .inner_div {
	margin-left: 15px;
    margin-right: 15px;
    width: 31%;
	display: inline-block;
}

.video-list-area .inner_div > table {
	width: 100%;
}

.inner_div tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
	width: 237px;
}

.video-list-area .list-description {
	margin-left: 14px;
	width: 23%;
	float: left;
}

.video-list-area .video-line {
	width: 237px;
	height: auto;
	float: left;
}

.video-list-area .content-up {
	height: 19px;
	width: 90%;
	float: left;
}

.video-list-area .Headline-text {
	width: 97%;
	height: auto;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	float: left;
	-webkit-line-clamp: 1;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.inner_div tr:NTH-CHILD(1) > td:NTH-CHILD(2), .inner_div tr:NTH-CHILD(2) > td:NTH-CHILD(1)
, .inner_div tr:NTH-CHILD(3) > td:NTH-CHILD(1), .inner_div tr:NTH-CHILD(4) > td:NTH-CHILD(1) {
	padding-left: 10px;
}

.video-list-area .Headline-text2 {
	width: 196px;
	height: 52px;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	float: left;
}

.video-list-area .beautuber {
	height: 17px;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	float: left;
	margin-left: 4px;
}

.video-list-area .views {
	height: 19px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #9b9b9b;
	float: left;
}


.video-list-area .days-ago {
	height: 19px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #9b9b9b;
	float: left;
}

.video-list-area .content-text {
	width: 94%;
	height: 60px;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	float: inherit;
	-webkit-line-clamp: 3;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.video-list-area .inner_div_views_line {
	width: 206px;
	float:inherit;
	-webkit-line-clamp: 1;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}


.from {
	width: 33px;
	height: 19px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #9b9b9b;
	float: left;
}

.video-list-area .showmore {
	height: 40px;
	width: 100%;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	line-height: 35px;
	color: #8c8c8c;
	float: left;
}

.video-list-area .showmore-line {
	width: 100%;
	height: 1px;
	background-color: #eaeaea;
	float: left;
	margin-top: 20px;
}

.footer {
	width: 100%;
	height: 66px;
	background-color: #4a4a4a;
	float: left;
	margin-top: 10px;
	display: inline-block;
}

.footer .text-font {
	height: 17px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #d8d8d8;
	margin-top: 20px;
	margin-left: 30px;
	float: left;
}

.gwh-logo {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: right;
	color: #9b9b9b;
	float: right;
	margin-right: 30px;
	margin-top: 20px;
}