@import
	url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css)
	;

.Desktop_Sub {
	background-color: #f4f4f4;
	width: 100%;
	display: inline-block;
}

.mt12 {
	margin-top: 12px;
}

.mt20 {
	margin-top: 20px;
}

.mt10 {
	margin-top: 10px;
}

.mt5 {
	margin-top: 5px;
}

.ml10 {
	margin-left: 10px;
}

.ml20 {
	margin-left: 20px;
}

.search-bar {
	height: 55px;
	background-color: #ffffff;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.search_input_outdiv {
	display: inline-block;
	margin-left: 39px;
	margin-top: 10px;
	border-radius: 3px;
	border: solid 1px #cbcbcb;
}
.search-box {
	width: 350px;
	height: 36px;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
	float: left;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #9b9b9b;
	padding-left: 10px;
}

.container {
	display: inline-block;
	width: 100%;
}

.search_bar_mobile2 {
	width: 100%;
	height: 44px;
	background-color: #fbfbfb;
	text-align: left;
}

.search_bar_mobile2 .mobile_ic_search {
	width: 22px;
	height: 22px;
	object-fit: contain;
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
	float: left;
}

.search_bar_mobile2 .mobile_search_input {
	width: 220px;
	height: 30px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #4a4a4a;
	border: none;
	background-color: #fbfbfb;
	float: left;
	margin-left: 10px;
	margin-top: 7px;
	padding-left: 10px;
}

.search_bar_mobile2 .mobile_ic_delete {
	width: 17px;
	height: 17px;
	object-fit: contain;
	display: inline-block;
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 13px;
	float: right;
}

.search_bar_mobile2 .mobile_search_close {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #9b9b9b;
	float: right;
	margin-top: 13px;
	margin-right: 10px;
	margin-left: 10px;
}

.bar {
	width: 1px;
	height: 24px;
	background-color: #d8d8d8;
	margin-top: 10px;
	display: inline-block;
	float: right;
}

.search_bar_mobile {
	width: 100%;
	height: 48px;
	background-color: #fbfbfb;
	float: left;
}

.search_bar_mobile .mobile_ic_menu {
	width: 3px;
	height: 20px;
	margin-left: 8px;
}

.search_bar_mobile .mobile_ic_area {
	width: 20px;
	height: 20px;
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}

.search-box .search-Videos-BJ-C {
	width: 235px;
	height: 19px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #9b9b9b;
}

.search-box .search-Videos-BJ-C .text-style {
	
}

.search-button {
	width: 40px;
	height: 36px;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
}

.ic_search {
	width: 20px;
	height: 20px;
	object-fit: contain;
}

.logo {
	width: 112px;
	height: 25px;
	object-fit: contain;
	margin-top: 13px;
	float: left;
	margin-left: 24px;
	border: none;
}

.big_view_space {
	width: 100%;
	height: 540px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
	background-color: #000000;
	display: inline-block;
}

.big_view_space .video_space {
	width: 960px;
	height: 540px;
	margin: auto;
}

.big_view_space .video_space .img_size {
	width: 100%;
	height: 100%;
	border-width: 0px;
	border-style: none;
}

.video_information_area {
	height: auto;
	margin: 0 auto;
	width: 1355px;
}

.video_information_area .list_description {
	width: 895px;
	margin-top: 10px;
	display: inline-block;
	float: left;
}

.list_description .box_top {
	display: inline-block;
	width: 100%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

.video_information_area .video_line {
	width: 450px;
	margin-left: 10px;
	background-color: #fbfbfb;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
	margin-top: 10px;
	display: inline-block;
	float: left;
}

.video_line .recommended_table {
	margin-left: 20px;
	margin-top: 10px;
}

.video_information_area .table_line {
	width: 100%;
	height: 1px;
	background-color: #eaeaea;
	float: left;
}

.video_information_area .content-space {
	height: 40px;
	width: 70%;
	margin-left: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.video_information_area .content-right {
	float: right;
	width: 20%;
	margin-right: 20px;
	margin-top: 20px;
	display: inline-block;
}

.video_information_area .content_right_mobile {
	float: left;
	width: 100%;
	height: 68px;
	margin-right: 20px;
	margin-top: 10px;
}

.video_information_area .content_right_mobile .menu_list_div {
	width: 100%;
	height: 35px;
	float: left;
	background-color: #f8f8f8;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 35px;
	letter-spacing: normal;
	text-align: left;
}

.video_information_area .content_right_mobile .menu_list_div .tab {
	cursor: pointer;
	height: 34px;
	color: #8c8c8c;
}

.video_information_area .content_right_mobile .menu_list_div .menu_1 {
	float: left;
	width: 33%;
	height: 35px;
	text-align: center;
}

.video_information_area .content_right_mobile .menu_list_div .menu_2 {
	width: 34%;
	height: 35px;
	float: left;
	text-align: center;
}

.video_information_area .content_right_mobile .menu_list_div .menu_3 {
	float: right;
	width: 33%;
	height: 35px;
	text-align: center;
}

.video_information_area .content_right_mobile .menu_list_div .selected {
	color: #5441b9;
	border-bottom-style: solid;
	border-width: 2px;
}

.video_information_area .content_right_mobile .menu_list_div .selected_line
	{
	background-color: 7e69ed;
	width: 34%;
	height: 1px;
	margin-top: 34px;
	float: left;
}

.contain_div {
	display: inline-block;
	width: 100%;
	background-color: #fbfbfb;
}

.video_information_area .Headline_text {
	height: auto;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	margin-left: 20px;
	margin-top: 12px;
	-webkit-line-clamp: 1;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.video_information_area .beautuber-img {
	width: 40px;
	height: 40px;
	float: left;
}

.video_information_area .content-up {
	height: 19px;
	width: 80%;
	display: inline-block;
}

.video_information_area .text_to_top {
	vertical-align: top;
}

.video_information_area .facebook {
	width: 26px;
	height: 26px;
	object-fit: contain;
	float: right;
}

.video_information_area .url {
	width: 26px;
	height: 26px;
	object-fit: contain;
	float: right;
	margin-left: 9px;
}

.video_information_area .subs_div {
	width: 100%;
	background-color: #fcfcfc;
	padding-bottom: 10px;
	float: left;
}

.video_information_area .item_list_div {
	background-color: #ffffff;
	padding-bottom: 10px;
	float: left;
	width: 100%;
}

.video_information_area .video_subs {
	width: calc(100% - 40px);
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.video_information_area .comment_div {
	float: left;
	width: 100%;
	display: inline-block;
	margin-top: 10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

.video_information_area .comment_area {
	width: calc(100% - 40px);
	background-color: #ffffff;
	padding: 20px 20px 16px 20px;
}

.video_information_area .comment_write_area {
	width: 100%;
	height: 162px;
	background-color: #fcfcfc;
	display: inline-block;
}

.content_line_mobile {
	width: 100%;
	height: 86px;
}

.content_line_mobile .content_mobile_top {
	display: inline-block;
	width: 100%;
	height: 48px;
}

.content_line_mobile  .content_mobile_select {
	display: inline-block;
	width: 100%;
	height: 38px;
}

.content_line_mobile .amazon_logo {
	float: right;
	margin-right: 20px;
}

.item_list_table_mobile .item_list_innertable {
	margin-left: 10px;
}

.item_list_table_mobile .seekTo_div {
	display: inline-block;
	width: 100%;
	margin-left: 10px;
}

.item_list_table_mobile .seekTo_bar {
	width: calc( 100% - 20px );
	height: 1px;
	background-color: #eaeaea;
	margin: 5px 10px;
}

.item_list_table_mobile .fill-1 {
	display: inline-block;
	margin-left: 6px;
}

.item_list_table_mobile .seekTo_time {
	display: inline-block;
	font-size: 14px;
	color: #9b9b9b;
	line-height: 14px;
}

.comment_write_area .addcomment_button_active {
	width: 129px;
	height: 31px;
	border-radius: 3px;
	font-family: NotoSans;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #4b5990;
	background-color: #e2e7f7;
	border: solid 1px #c2c8dc;
	float: right;
	margin-right: 20px;
}

.comment_write_area .addcomment_button_non {
	width: 129px;
	height: 31px;
	border-radius: 3px;
	font-family: NotoSans;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #595959;
	background-color: #f4f3f7;
	border: solid 1px #d9d9d9;
	float: right;
	margin-right: 20px;
}

.comment_area .comment-renderer-content {
	display: inline-block;
	text-align: left;
	width: 100%;
}

.comment_area .comment-renderer-content tr:NTH-CHILD(1) > td:NTH-CHILD(1) {
    width: 57px;
}

.comment_area .comment-renderer-content .yt-thumb-square {
	width: 48px;
	height: 48px;
	margin-right: 7px;
}

.comment_area .comment-renderer-content .comment-renderer-header {
	display: inline-block;
	line-height: 15px;
}

.comment_area .comment_middle_bar {
	width: calc(100% - 64px);
	height: 1px;
	background-color: #eaeaea;
	margin: 16px 0;
	float: right;
}

.comment-renderer-header .comment-renderer-time {
    color: #767676;
    font-size: 11px;
    margin-left: 6px;
}

.comment_area .comment-renderer-content .comment-renderer-text {
	margin: 8px 0 0 0;
	display: inline-block;
}

.comment-renderer-text-content {
	white-space: pre-wrap;
	word-wrap: break-word;
	display: inline-block;
	font-size: 14px;
	text-align: left;
}

.comment_area .comment-renderer-content .comment-renderer-footer {
	
}

.fb-comments, .fb-comments iframe, .fb-comments span {
	width: 100% !important;
}

.video_information_area .item_list_table {
	width: 94%;
	float: left;
	margin-left: 20px;
	margin-bottom: 23px;
}

.item_list_table .item_list_innertable {
	width: calc( 100% - 102px );
	float: left;
	margin-top: 16px;
}

.video_info_table .content_line {
	width: 100%;
	float: left;
}

.item_list_div .content_line_web {
	width: 100%;
	display: inline-block;
}

.item_list_div .item_select_div {
	float: right;
    margin-top: 11px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
}

.item_list_div .amazon_logo {
	display: inline-block;
	margin-top: 19px;
	margin-left: 22px;
}

.item_list_div .item_select {
	width: 78px;
    height: 22px;
    border-radius: 3px;
    background-color: #f1f1f1;
    border: solid 1px #d9d9d9;
    font-size: 11px;
    padding-left: 20px;
}

.item_list_div .option_font {
  font-family: NotoSans;
  font-size: 13px;
  color: #000000;
}

.item_list_table .seekTo_div {
	display: inline-block;
	width: 102px;
	height: 92px;
	margin-top: 16px;
}

.item_list_table .seekTo_bar {
	width: 1px;
	height: 50px;
	background-color: #eaeaea;
	display: inline-block;
	margin: 21px 0;
	float: left;
}

.item_list_table .fill-1 {
	display: inline-block;
	width: 9px;
	height: 13px;
	margin-top: 40px;
	margin-left: 24px;
}

.item_list_table .seekTo_time {
	display: inline-block;
	font-size: 14px;
	color: #9b9b9b;
	vertical-align: middle;
	margin-bottom: 7px;
}

.video_information_area .item_list_title {
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 18px;
	text-align: left;
	color: #4a4a4a;
	float: left;
	margin-left: 20px;
	margin-top: 15px;
}

.video_information_area .list_size {
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 18px;
	text-align: left;
	color: #9b9b9b;
	float: left;
	margin-top: 15px;
	margin-left: 5px;
}

.video_information_area .comment_write_detail {
	width: calc(100% - 40px);
	height: 50px;
    margin: 23px auto  12px;
}

.video_information_area .comment_write_img_area {
	width: 50px;
	height: 50px;
}

.video_information_area .commnet_write_input_area {
	width: 100%;
	height: 50px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #cbcbcb;
	font-size: 14px;
	font-family: NotoSans;
	text-align: left;
	padding-left: 10px;
	padding-top: 5px;
}

.item_list_div .product_img {
	max-width: 92px;
	max-height: 92px;
	border: none;
}

.item_list_innertable  tr:NTH-CHILD(1)>td:NTH-CHILD(1) {
	width: 92px;
	height: 92px;
	text-align: center;
}

.item_list_div .product_name {
	width: calc(100% - 15px);
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #5441b9;
	-webkit-line-clamp: 2;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	margin-bottom: 5px;
}

.item_list_div .star_div_web,  .item_list_div .star_div_mobile{
	display: inline-block;
	margin-bottom: 5px;
}

.item_list_div .product_starscore {
	width: 15px;
	height: 15px;
	object-fit: contain;
	float: left;
}
.item_list_div .product_score_web, .item_list_div .product_score_mobile {
	height: 15px;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 15px;
	text-align: left;
	color: #4a4a4a;
	float: left;
	margin-left: 5px;
}

.item_list_div .product_price {
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	display: inline-block;
}

.video_information_area .Headline-text2 {
	width: 196px;
	height: 52px;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	float: left;
}

.video_information_area .beautuber {
	height: 17px;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #4a4a4a;
	float: left;
	margin-left: 4px;
}

.video_information_area .views {
	height: 19px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #9b9b9b;
	float: left;
	margin-left: 10px;
	display: inline-block;
}

.video_line .views {
	width: 90%;
	margin-left: 5px;
}

.video_information_area .days-ago {
	height: 19px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #9b9b9b;
	float: left;
	display: inline-block;
}

.video_line .title {
	height: 20px;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.11;
	text-align: left;
	color: #4a4a4a;
	margin-left: 20px;
	margin-top: 16px;
}

.comment-renderer-header a {
	color: #5441b9;
}

.video_line .recommended_line {
	width: 90%;
	height: 1px;
	margin: auto;
	margin-top: 10px;
	background-color: #d8d8d8;
}

.video_line .video_img {
	width: 151px;
	height: auto;
}

.video_line .Headline {
	height: auto;
	width: 240px;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	text-align: left;
	margin-left: 5px;
	color: #4a4a4a;
	-webkit-line-clamp: 2;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.from {
	width: 33px;
	height: 19px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #9b9b9b;
	float: left;
}

.video_information_area .showmore_line {
	width: 100%;
	height: 1px;
	background-color: #eaeaea;
	float: left;
	margin-top: 20px;
}

.video_information_area .showmore {
	height: 40px;
	width: 100%;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	line-height: 35px;
	color: #8c8c8c;
	float: left;
}

.footer {
	width: 100%;
	height: 66px;
	background-color: #4a4a4a;
	float: left;
	margin-top: 10px;
}

.footer .text-font {
	height: 17px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #d8d8d8;
	margin-top: 20px;
	margin-left: 30px;
	float: left;
}

.gwh-logo {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: right;
	color: #9b9b9b;
	float: right;
	margin-right: 30px;
	margin-top: 20px;
}